<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter une Note</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Ajouter une Note</h1>

<form th:action="@{/notes/create}" th:object="${note}" method="post">
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <input type="hidden" th:field="*{patId}" />

    <div>
        <label for="content">Contenu de la Note :</label><br>
        <textarea id="content" th:field="*{content}" rows="5" cols="50" required></textarea>
    </div>

    <div>
        <button type="submit">Ajouter</button>
        <a th:href="@{/patients/profile/{id}(id=${note.patId})}" class="button-link">Annuler</a>
    </div>
</form>

</body>
</html>
