<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
  <meta charset="UTF-8">
  <title>Modifier une Note</title>
  <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<h1>Modifier une Note</h1>

<form th:action="@{/notes/edit}" th:object="${note}" method="post">
  <input type="hidden" th:field="*{id}" />
  <input type="hidden" th:field="*{patId}" />

  <label for="content">Contenu de la Note :</label>
  <textarea id="content" th:field="*{content}" rows="5" cols="50" required></textarea>
  <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></div>

  <button type="submit">Enregistrer</button>
  <a th:href="@{/patients/profile/{id}(id=${note.patId})}">Annuler</a>
</form>

</body>
</html>
